<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
     http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       ">

  <dubbo:application name="helloworld-provider" />

  <dubbo:registry address="zookeeper://127.0.0.1:2181" />

  <dubbo:protocol name="dubbo" port="20880" />

  <!--<dubbo:protocol name="dubbo" port="20884" serialization="kryo"-->
                  <!--optimizer="hello.f2boy.dubbox.common.SerializationOptimizerImpl" />-->

  <!--<dubbo:protocol name="rest" port="20420" contextpath="provider" server="servlet" serialization="kryo"-->
                  <!--optimizer="hello.f2boy.dubbox.common.SerializationOptimizerImpl" />-->

  <dubbo:service interface="hello.f2boy.dubbox.service.HelloService" ref="helloService" />

  <bean id="helloService" class="hello.f2boy.dubbox.service.HelloServiceImpl" />

</beans>